.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


#btn-2:hover{
  cursor: pointer;
}
#contact-boxes>div:hover{
  cursor: pointer;
   border: 2px solid blue;
}
#s-q{
  border: 1px;
  width: 80%;
  margin: auto;
}
#hide{
  border: 2px solid grey;
  background-color: rgb(255, 253, 253);
  color: black;
  font-family: 400;
  display: none;
}
#wehave{
  color: black;
  font-size: 40px;
  text-align: center;
  display: none;

}
#fruites{
  color: black;
  font-size: 60px;
  text-align: center;
  display: none;
}
#veg{
  color: black;
  font-size: 80px;
  text-align: center;
  display: none;
}  
#wehave2{
  color: black;
  font-size: 40px;
  text-align: center;
  display: none;

}
#movieBar{
  border: 5px solid blue;
  width: 99%;
  margin: auto;
  height: 550px;
  border-radius: 20px;
  display: none;
}
#movieLover{
  display: none;
}
#smiley{
  display: none;
}